<!DOCTYPE html>
<html>
<head>
<title>Postman</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
{% block script %}{% endblock %}
</head>
<body>
<div class="container">
	{% if current_user.is_authenticated() %}
    <p>
    	<span>{{ current_user.email }}</span>
    	<span> <a href="{{ url_for('send_notifications')}}">Send notification</a></span>
    	<span> <a href="{{ url_for('subscriptions_page') }}">Channels</a></span>
    	<span> <a href="{{ url_for('user.change_password') }}">
        	Change password</a></span>
    	<span> <a href="{{ url_for('user.logout') }}?next={{ url_for('user.login') }}">
        	Sign out</a></span>
    </p>
    {% endif %}
{% block content %}{% endblock %}
<!-- errors -->
{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}
<!-- messages -->
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>
</body>
</html>