{% extends "base.html" %}
{% block content %}
    <p>
    	<span>{{ current_user.email }}</span>
    	<span> <a href="{{ url_for('user.change_password') }}">
        	Change password</a></span>
    	<span> <a href="{{ url_for('user.logout') }}?next={{ url_for('user.login') }}">
        	Sign out</a></span>
    </p>
    <h2>All channels:</h2>
	{% for channel in subscriptions %}
  		<strong>Title:</strong> {{ channel.channel_title }} <br>
	<br>
	{% endfor %}
	{% for channel in other_channels %}
  		<strong>Title:</strong> {{ channel.channel_title }} <br>
	<br>
	{% endfor %}
{% endblock %}